body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f4f4f4;
}

header {
  padding: 1rem;
  background: #111;
  color: white;
}

.layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  padding: 1rem;
  height: 70vh;
}

#map {
  border: 2px solid black;
  border-radius: 8px;
  overflow: hidden; /* CLAVE para que no se desborde */
}

.filters {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filters h3 {
  margin-top: 0;
}

.listado {
  padding: 1rem;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
